@import url(sanitize.css);
h1 {
  font-size: 100px;
  margin: auto;
}
h2 {
font-size: 80px;
}
.content {
  background-color: aliceblue;
  width: 950px;
  margin: 10px auto;
  border: 1px solid #111010;
  padding: 30px;
  font-family: "Yu Gothic", "游ゴシック", "YuGothic", "游ゴシック体";
  font-size: 60px;
}
@font-face {
  font-family: "YuGothic M";
  src: local("Yu Gothic Medium"),
       local("Yu Gothic");
}
.btn {
  background-color: snow;
  color: black;
  padding: 20px;
  text-align: center;
}
.btn p {
  display: inline-block;
  width: 80px
}
