@import url(sanitize.css);
h1 {
    font-size: 50px;
    margin: auto;
    line-height: 60px;
}
.content {
    background-color: white;
    width: 800px;
    margin: 10px auto;
    border: 1px solid #111010;
    padding: 30px;
    font-family: "Yu Gothic", "游ゴシック", "YuGothic", "游ゴシック体";
    font-size: 30px;
    line-height: 40px;
}
h2 {
    font-size: 50px;
    font-colar: red;
}
.id {
    text-align: center;
}
.form-group {
    width: 800px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 25px;
    margin-top: 60px;
}
.required {
    margin-left: .3em;
    color: #f33;
    font-size: .9em;
    padding: 3px;
    background-color: #fee;
    font-weight: bold;
}
@media only screen and (max-width: 992px) {
    .radio-inline {
        display: block;
        margin: 0 !important;
    }
}
@font-face {
    font-family: "YuGothic M";
    src: local("Yu Gothic Medium"),
         local("Yu Gothic");
  }
body {
    background-color: whitesmoke;
} 
